@keyframes coloring {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

#star {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: pointer;
}
.HomeV2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.imgView {
  position: absolute;
  top: 45%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  width: 10%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.navBar {
  width: 95%;
  height: 80px;
  border-bottom: 1.8px solid rgba(235, 235, 235, 0.808);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1%;
  background-color: transparent;
}

.navBar > .tag > div {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  cursor: pointer;
}
.navBar > .tag > div .normal {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #ededed;
  -webkit-text-stroke-width: 0;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.navBar > .tag:hover .normal {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ededed;
}
.navBar > .tag > div .special {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #e2a115;
  -webkit-text-stroke-width: 0;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.navBar > .tag:hover .special {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e2a115;
}
.middleSection {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  width: 100%;
  height: 90%;
}
.middleSection > .leftside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middleSection > .leftside > div {
  overflow-y: hidden;
  height: fit-content;
}
.middleSection > .leftside > .normal > h1 {
  font-family: versus;
  font-weight: bolder;
  color: #121212;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  font-size: clamp(3rem, calc(3rem + ((1.4vw - 0.475rem) * 3.6207)), 7.2rem);
  text-align: center;
}
.middleSection > .leftside > .special > h1 {
  font-family: versus;
  font-weight: bolder;
  background: linear-gradient(to right, #e2a115, #ededed, #e2a115);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200%;
  color: transparent;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(3rem, calc(3rem + ((1.4vw - 0.475rem) * 3.6207)), 7.2rem);
  animation: coloring 2s linear 1.5s infinite normal forwards;
}
.middleSection > .rightside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middleSection > .rightside > div {
  height: fit-content;
  overflow-y: hidden;
}
.middleSection > .rightside > div > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #121212;
  font-size: clamp(
    1.5rem,
    calc(1.5rem + ((1vw - 0.475rem) * 0.8621)),
    2.125rem
  );
}
.middleSection > .rightside > div > h3 {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ededed;
  font-size: clamp(18px, calc(18px + 2vw), 28px);
}
.middleSection > .rightside > div > i {
  font-size: 2rem;
}

@media screen and (width <650px) {
  .HomeV2 {
    height: 100vh;
  }

  .middleSection {
    grid-template-rows: 25% 55%;
    grid-template-columns: 100%;
    gap: 0;
  }
  .middleSection > .rightside > div {
    margin-left: 20px;
  }
}

@media screen and (width <440px) {
  .imgView {
    display: none;
  }
  #star {
    display: none;
  }
}
