@keyframes coloring {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

#star {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: pointer;
}
.HomeV2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  transition: all 500ms ease-in;
}

.imgView {
  position: absolute;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  width: 10%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  transition: all 500ms ease-in;
  border-radius: 50%;
}
.navBar {
  width: 95%;
  height: 80px;
  border-bottom: 1.2px solid rgba(235, 235, 235, 0.808);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1%;
  background-color: transparent;
}

.navBar > .tag > div {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  cursor: pointer;
}
.navBar > .tag > div .normal {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #ededed;
  -webkit-text-stroke-width: 0;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.navBar > .tag:hover .normal {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ededed;
}
.navBar > .tag > div .special {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #e2a115;
  -webkit-text-stroke-width: 0;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.navBar > .tag:hover .special {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e2a115;
}
.middleSection {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  width: 100%;
  height: 90%;
}
.middleSection > .leftside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middleSection > .leftside > div {
  overflow-y: hidden;
  height: fit-content;
}
.middleSection > .leftside > .normal > h1 {
  font-family: versus;
  font-weight: bolder;
  color: #121212;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  font-size: 90px;
  text-align: center;
}
.middleSection > .leftside > .special > h1 {
  font-family: versus;
  font-weight: bolder;
  background: linear-gradient(to right, #e2a115, #ededed, #e2a115);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200%;
  color: transparent;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  text-align: center;
  font-size: 90px;
  animation: coloring 2s linear 1.5s infinite normal forwards;
}
.middleSection > .rightside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middleSection > .rightside > div {
  height: fit-content;
  overflow-y: hidden;
}
.middleSection > .rightside > div > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #121212;
  font-size: 34px;
}
.middleSection > .rightside > div > h3 {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ededed;
  font-size: clamp(26px, calc(18px+2vw), 38px);
}
.middleSection > .rightside > div > i {
  font-size: 2rem;
}
@media screen and (max-width: 1280px) {
  .middleSection > .leftside > .normal > h1 {
    font-size: 72px;
  }
  .middleSection > .leftside > .special > h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 1180px) {
  .middleSection > .leftside > .normal > h1 {
    font-size: 68px;
  }
  .middleSection > .leftside > .special > h1 {
    font-size: 68px;
  }
}

@media screen and (max-width: 1024px) {
  .middleSection > .leftside > .normal > h1 {
    font-size: 64px;
  }
  .middleSection > .leftside > .special > h1 {
    font-size: 64px;
  }
  .middleSection > .rightside > div > h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 960px) {
  .middleSection > .leftside > .normal > h1 {
    font-size: 58px;
  }
  .middleSection > .leftside > .special > h1 {
    font-size: 58px;
  }
  .middleSection > .rightside > div > h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 760px) {
  .middleSection > .leftside > .normal > h1 {
    font-size: 48px;
  }
  .middleSection > .leftside > .special > h1 {
    font-size: 48px;
  }
  .middleSection > .rightside > div > h1 {
    font-size: 24px;
  }
}
@media screen and (width <650px) {
  .HomeV2 {
    height: 100vh;
  }

  .middleSection {
    grid-template-rows: 25% 55%;
    grid-template-columns: 100%;
  }

  middleSection > .rightside > div > h1 {
    font-size: 20px;
  }
}
