.Contact {
  background-color: #1c1d20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-sizing: content-box;
  padding-block: 20px;
  gap: 4rem;
}
.Contact > h1:first-of-type {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.5rem, calc(1.086vw + 1.2554rem), 2.125rem);
  text-align: center;
  color: #121212;
}
.firstlayer {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
}
.firstlayer > .tag > div {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  cursor: pointer;
}
.firstlayer > .tag > div span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e0dfda;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.firstlayer > div:last-child h1 {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #e0dfda;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}

.Contact > .main {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.Contact > .main > .imgContainer {
  min-width: 80px;
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url("/AboutPic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Contact > .main > h1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-family: versus;
  font-weight: bolder;
  font-size: calc(clamp(1.6rem, 5vw, 8rem) * 0.775);
  color: #e0dfda;
  letter-spacing: 2px;
  margin-bottom: 15%;
}

.Contact > .main > .info {
  display: flex;
  flex-direction: column;
}

.Contact > .main > .info > h3 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e2a115;
}

.Contact > .main > .info > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 40px;
  gap: 4px;
}

.Contact > .main > .info span {
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.Contact > .main > .info a {
  text-decoration: none;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: fit-content;
  transition: all 200ms linear;
  position: relative;
}
.Contact > .main > .info a::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  background-color: #ededed;
}
.Contact > .main > .info a:hover::after {
  width: 100%;
}

.Contact > .main > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Contact > .main > form > .field:first-child {
  border-top: 0.5px solid #e0dfda50;
  border-bottom: 0.5px solid #e0dfda50;
}

.Contact > .main > form > .field:last-child {
  border-bottom: none;
}

.Contact > .main > form > .field {
  width: 65%;
  border-bottom: 0.5px solid #e0dfda50;
  display: grid;
  grid-template-columns: 10% 90%;
  padding-bottom: 5px;
}

.Contact > .main > form > .field > h3 {
  font-size: 16px;
  font-weight: bold;
  color: #e0dfda;
  opacity: 0.6;
  grid-row: span 2;
  align-self: center;
}

.Contact > .main > form > .field :focus > label {
  opacity: 0.6;
}

.Contact > .main > form > .field > label {
  font-size: calc(clamp(1.4rem, 4vw, 1.5rem) * 0.775);
  font-weight: bolder;
  color: #e2a115;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  height: 80px;
}

.Contact > .main > form > .field > input,
.Contact > .main > form > .field > textarea {
  background-color: transparent !important;
  border: none;
  outline: none;
  color: #e0dfda;
  font-size: calc(clamp(1.1rem, 4vw, 1.5rem) * 0.775);
  font-weight: bold;
  resize: none;
  overflow: hidden;
  -webkit-appearance: none;
  box-shadow: none;
  height: 40px;
}

.Contact > .main > form > .field > input::placeholder {
  color: #e0dfda;
  opacity: 0.6;
}

.Contact > .main > form > button {
  margin-top: 20px;
  width: 60%;
  height: fit-content;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  justify-content: center;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: versus;
  color: #e0dfda;
  background-color: #e2a115;
  cursor: pointer;
  font-size: clamp(18px, calc(12px + 1.46vw), 24px);
}

@media screen and (width <630px) {
  .Contact > .main > form {
    grid-column: span 2;
    order: 4;
  }
  .Contact > .main > .info {
    justify-self: center;
  }
}
