@keyframes rotate {
    0%{
       rotate: 0deg;
    }
    50%{
        scale:1 1.2;
    }
    100%{
        rotate: 360deg;
    }
}
.skills{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    background:#e0dfda;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 5%;
}
.firstlayer{
    width: 90%;
    min-height: fit-content;
    margin-top:30px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
}
.firstlayer >.tag >div{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    cursor: pointer;
}
.firstlayer >.tag >div span{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:#e2a115;
    font-size: clamp(30px,calc(22px+2.5vw),48px);
}
.firstlayer > div:last-child h1{
    font-family:versus;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-text-fill-color: #e2a115;
    font-size: clamp(36px,calc(12.5px+4.18vw),66px);
}
.skills >h1:first-of-type{
    font-family:versus;
    font-weight: bolder;
    letter-spacing: 2px;
    white-space: break-spaces;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    color: #121212;
}

.front{
    width: 380px;
    height: 380px;
    position: absolute;
    filter:blur(80px);
    border-radius: 50%;
    background: linear-gradient(to right ,#e2a115,#E0E0DA);
    animation: rotate 10s linear 0s infinite normal forwards;
    z-index: -2;
}

.BrainSet{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.BrainSet > .leftside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
}
.BrainSet > .leftside >.sections{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: transparent;
}
.BrainSet > .leftside >.sections:hover{
    border-color: #a82525;
    background-color:#a825254d ;
}
.BrainSet > .leftside >.sections >h3{
    font-family:Versus;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #121212;
    font-size: clamp(22px,calc(8.6px+2.07vw),42px);
}
.BrainSet > .leftside >.sections >span{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    white-space: break-spaces;
    color: #121212;
    font-size: clamp(16px,calc(12px+0.46vw),18px);
}

#react{
  width: 100px;   
  height: 100px;
  background-color: #16aa36;
  border-radius: 50%;
  margin-bottom: 50%;
}
#query{
    width: 100px;   
    height: 100px;
    background-color: #16aa36;
    border-radius: 50%;
}

.lastlayer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-block: auto;
}
.lastlayer > .button{
    width:fit-content;
    height:fit-content;
    display: flex;
    align-items: center; 
    letter-spacing:.5px;
    justify-content:center;
    position: relative;
    font-size:.9rem;
    font-weight:bold;
    font-family:versus;
    color:#121212;
    padding-inline:.2rem;
    padding-block:.4rem;
    background-color:transparent;
    border:.5px solid #121212;
    border-radius:5px; 
    cursor:pointer;
    font-size: clamp(16px,calc(12px+0.46vw),18px);
    
}
.lastlayer > .button::before{
    content:"";
    display:inline-block;
    width:0;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    transition:all 300ms 0s ease;
    background-color:#e2a115;
    border-radius:.5px; 
    z-index:-1;
}
.lastlayer > .button:hover::before{
    width: 100%;
}
.lastlayer > .button:hover{
    border: .5px solid #121212;
    color: #fff;
}