@font-face {
  font-family: versus;
  src: url("./assets/fonts/Versus-BlackExtended DEMO.otf");
}
@keyframes coloring {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}
@keyframes ShowUp {
  0% {
    transform: translateY(-320px) rotateY(-13deg);
  }
  100% {
    transform: translateY(0) rotateY(-13deg);
  }
}
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
